.container{
    padding-left:15rem;
}
.userinputs {
    cursor: pointer;
    width: 50rem;
    padding-top: 1rem;
}
input{
    /* width: 48rem; */
    border-left:none;
    border-right: none;
    border-top: none;
}
.couponcode{
    width: 50rem;
    padding-top: 1rem;
}
.datepickers{
   display: flex; 
   padding-top: 2rem;
}
.datepickers>div>input{
    width: 23rem;
}
.maxdiscount{
    width:23rem;
}
.rulesbox{
    margin-top: 1rem;
}
.rulesbox >div{
    display:flex;
}
.rulesbox >article>div>input{
    width:25rem;
    margin-left:1rem;
    padding-top:1rem;
}
.ruleheader{
    width:50rem;
    height:2rem;
    background-color: rgb(165, 185, 230);
    color: black;
    padding-left: 1rem;
    font-size: medium;
    box-sizing: border-box;
}
.limits{
    display: flex;
    box-sizing: border-box;
}
.w-50{
    width: 24rem;
    margin: 10px 20px 10px 0;
}
.add-more{
    position: absolute;
    right: 18%;
}
.save-btn{
    margin: 50px 0;
}

/* ================================ */
@media screen and (max-width: 600px) {
    .container{
        /* border: 1px solid black; */
        padding-left:0rem;
        /* padding-right:6rem; */
    
    }
}