.container{
    padding-left:15rem;
}
.userinputs {
    cursor: pointer;
    width: 48rem;
    padding-top: 1rem;
}
input{
    /* width: 48rem; */
    border-left:none;
    border-right: none;
    border-top: none;
}
.couponcode{
    width: 48rem;
    padding-top: 1rem;
}
.datepickers{
   display: flex; 
   padding-top: 2rem;
}
.datepickers>div>input{
    width: 22rem;
}
.maxdiscount{
    width:23rem;
}
.rulesbox{
    margin-top: 1rem;
}
.rulesbox >div{
    display:flex;
}
.rulesbox >article>div>input{
    width:23rem;
    margin-left:1rem;
    padding-top:1rem;
}
.ruleheader{
    width:48rem;
    height:2rem;
    background-color: rgb(165, 185, 230);
    color: black;
    padding-left: 1rem;
    font-size: medium;
}
/* ================================ */
@media screen and (max-width: 600px) {
    .container{
        /* border: 1px solid black; */
        padding-left:0rem;
        /* padding-right:6rem; */
    
    }
}